@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  color: #fa6c65;
  background-color: #464646;
}

*::selection {
  color: #fa6c65;
  background-color: #464646;
}

body {
  font-family: "Oswald", sans-serif;
  color: #616161;
}

header {
  background-color: #fff;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  overflow: hidden;
  padding: 10px 10px 0 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-left: 20px;
}

.upper-case {
  text-transform: uppercase;
}

.main-block {
  height: 80vh;
  padding: 30px;
}

.header__top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
}

.header__top__logo {
  margin-left: 10%;
}

.header__top__logo a {
  font-size: 40px;
}

.header__top__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  margin-right: 17%;
  margin-top: 12px;
}

.header__bottom {
  background-color: #fbfbfb;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
}

.header__bottom__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 9%;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
}

.header__bottom__nav-links__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  color: black;
  text-align: center;
  font-size: 18px;
  margin-left: 2em;
  line-height: 1.8;
  text-transform: uppercase;
}

.header__bottom__social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 55%;
  height: 100%;
}

.header__bottom__social-media-links__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px;
  border-radius: 60%;
  border: 1px solid #bebebe;
  height: 40px;
  width: 40px;
}

.header__bottom__social-media-links__li img {
  width: 10px;
}

.main__welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/Layer 9.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Layer 9.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.main__welcome__item {
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px 0 0 0;
  font-size: 40px;
}

.main__welcome h2 {
  padding: 15px;
}

.main__welcome p {
  padding: 10px;
}

.main__welcome__button {
  color: white;
  font-size: 20px;
  padding: 20px;
  background-color: #fa6c65;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 0px #d55c56;
          box-shadow: 0px 2px 0px #d55c56;
}

.main__welcome__button:hover {
  background-color: #f1524a;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fa6c65;
  padding: 20px;
  height: 20%;
  text-transform: uppercase;
}

.title__subtitle {
  margin-left: 20px;
  font-weight: 300;
  color: #939393;
  text-transform: none;
}

.title__subtitle::before {
  content: "|";
  color: #fa6c65;
  margin-right: 15px;
}

.main__how-it-works {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main__how-it-works__process {
  width: 80%;
  margin: auto;
}

.main__how-it-works__process ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.main__how-it-works__process li {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.main__how-it-works__process li .process-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__how-it-works__process li .process-block .number {
  margin-right: 10px;
  width: 20%;
  font-size: 50px;
  color: #fa6c65;
}

.main__how-it-works__process .process-list-item {
  padding: 40px;
}

.main__how-it-works__process__content__title {
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
}

.main__how-it-works__process__content__descript {
  font-size: 18px;
  padding: 10px;
}

.main__how-it-works__process__content__details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__how-it-works__process__content__details ul li {
  list-style: circle;
  width: 90%;
  font-size: 15px;
}

.main__latest {
  background-color: #fbfbfb;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.preview {
  width: 50%;
}

.main__latest__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.main__latest__content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-left: 40px;
}

.main__latest__content__block__title {
  font-size: 50px;
}

.main__latest__content__block__descript {
  margin: 30px 0 30px 0;
}

.main__latest__content__block__button {
  color: white;
  font-size: 20px;
  padding: 20px;
  background-color: #fa6c65;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 0px #d55c56;
          box-shadow: 0px 2px 0px #d55c56;
  font-size: 15px;
  width: 120px;
  height: 50px;
}

.main__latest__content__block__button:hover {
  background-color: #f1524a;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
}

.footer__top {
  background-color: #303538;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__top__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
  padding: 0px 20px 0px 20px;
}

.footer__top__links__item {
  margin: 0px 30px 0px 30px;
}

.footer__top__links__item__title {
  text-transform: uppercase;
  padding: 20px;
}

.footer__top__links__item__desc p {
  padding: 0px 10px 20px 20px;
  width: 300px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2d3134;
  height: 15%;
  font-size: 30px;
}

@media screen and (min-width: 2888px) {
  body {
    width: 2888px;
    margin: auto;
  }
}

@media screen and (max-width: 1480px) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__top__links {
    padding: 40px 0px 50px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .header__top__links {
    font-size: 12px;
  }
  .header__bottom {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: block;
  }
  .header__top__links {
    font-size: 20px;
    display: block;
    text-align: left;
    margin-top: 0;
  }
  .main__welcome__item {
    font-size: 20px;
  }
  .main__welcome p {
    width: 80%;
  }
  .main__welcome h2 {
    width: 50%;
  }
  .main__how-it-works__process {
    width: 100%;
  }
  .main__how-it-works__process__content {
    width: 100%;
  }
  .title {
    font-size: 9px;
  }
  .preview {
    display: none;
  }
  .main__latest__content {
    display: block;
  }
  .main__latest__content__block {
    width: 70%;
  }
  .title {
    font-size: 30px;
  }
  .title__subtitle {
    display: none;
  }
  .footer__bottom {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .header__top__links {
    font-size: 15px;
  }
  .number {
    display: none;
  }
  .footer__bottom {
    font-size: 17px;
  }
}

@media screen and (max-width: 300px) {
  .header__top__links {
    font-size: 12px;
  }
  .main__welcome__item {
    font-size: 15px;
  }
  .main__welcome p {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    height: 400px;
  }
  .header__bottom__nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__bottom__nav-links__li {
    margin-top: 20px;
  }
  .header__bottom__social-media-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .header__bottom__social-media-links__li {
    height: 60px;
    border: none;
  }
}
/*# sourceMappingURL=main.css.map */