@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

header {
  background-color: #fff;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  overflow: hidden;
  padding: 10px 10px 0 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-left: 20px;
}

.upper-case {
  text-transform: uppercase;
}

.header__top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
}

.header__top__logo {
  margin-left: 10%;
}

.header__top__logo a {
  font-size: 40px;
}

.header__top__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  margin-right: 17%;
  margin-top: 12px;
}

.header__bottom {
  background-color: #fbfbfb;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
}

.header__bottom__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 9%;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
}

.header__bottom__nav-links__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  color: black;
  text-align: center;
  font-size: 18px;
  margin-left: 2em;
  line-height: 1.8;
  text-transform: uppercase;
}

.header__bottom__social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 55%;
  height: 100%;
}

.header__bottom__social-media-links__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px;
  border-radius: 60%;
  border: 1px solid #bebebe;
  height: 40px;
  width: 40px;
}

.header__bottom__social-media-links__li img {
  width: 10px;
}

.main__welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 80vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/Layer 9.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Layer 9.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.main__welcome__item {
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px 0 0 0;
  font-size: 40px;
}

.main__welcome h2 {
  padding: 15px;
}

.main__welcome p {
  padding: 10px;
}

.main__welcome__button {
  color: white;
  font-size: 20px;
  width: 180px;
  padding: 20px;
  background-color: #fa6c65;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 0px #d55c56;
          box-shadow: 0px 2px 0px #d55c56;
}

.main__welcome__button:hover {
  background-color: #f1524a;
}

@media screen and (min-width: 2888px) {
  body {
    width: 2888px;
    margin: auto;
  }
}

@media screen and (max-width: 990px) {
  .header__top__links {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: block;
  }
  .header__top__links {
    font-size: 20px;
    display: block;
    text-align: left;
    margin-top: 0;
  }
  .main__welcome__item {
    font-size: 20px;
  }
  .main__welcome p {
    width: 80%;
  }
  .main__welcome h2 {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .header__top__links {
    font-size: 15px;
  }
}

@media screen and (max-width: 300px) {
  .header__top__links {
    font-size: 12px;
  }
  .main__welcome__item {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    height: 400px;
  }
  .header__bottom__nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__bottom__nav-links__li {
    margin-top: 20px;
  }
  .header__bottom__social-media-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .header__bottom__social-media-links__li {
    height: 60px;
    border: none;
  }
}
/*# sourceMappingURL=main.css.map */