@mixin flex_dir($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin flex_btw {
  justify-content: space-between;
}

@mixin flex_arr {
  justify-content: space-between;
}

@mixin flex_direction($dir) {
  flex-direction: $dir;
}

@mixin flex_cntr {
  align-items: center;
  justify-content: center;
}

// **

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

header {
  background-color: #fff;
  height: 140px;

  display: flex;
  flex-direction: column;

  margin: auto;
  overflow: hidden;
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-left: 20px;
}

.header__top {
  flex: 1;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
}

.header__top__logo {
  margin-left: 10%;
  a {
    font-size: 40px;
  }
}

.header__top__links {
  display: flex;
  width: fit-content;
  float: right;
  margin-right: 17%;
  margin-top: 12px;
}

.header__bottom {
  background-color: #fbfbfb;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
}

.header__bottom__nav-links {
  display: flex;
  @include flex_cntr();

  margin-left: 9%;
  height: 100%;
  width: fit-content;
  float: left;
}

.header__bottom__nav-links__li {
  display: flex;
  @include flex_cntr();

  float: left;
  color: black;
  text-align: center;
  font-size: 18px;
  margin-left: 2em;
  line-height: 1.8;
  text-transform: uppercase;
}

.header__bottom__social-media-links {
  display: flex;
  @include flex_cntr();

  margin-left: 55%;
  height: 100%;

  &__li img {
    width: 10px;
  }
}

// MEDIA

@media screen and (min-width: 2888px) {
  body {
    width: 2888px;
    margin: auto;
  }
}

@media screen and (max-width: 990px) {
  .header {
    &__top__links {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: block;
    &__top__links {
      font-size: 20px;
      display: block;
      text-align: left;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    &__top__links {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 300px) {
  .header {
    &__top__links {
      font-size: 12px;
    }
  }
}

// header responsiveness media

@media only screen and (max-width: 1000px) {
  header {
    height: 400px;
  }
  .header__bottom__nav-links {
    flex-direction: column;

    &__li {
      margin-top: 20px;
    }
  }
  .header__bottom__social-media-links {
    flex-direction: column;
    margin-left: 0;

    &__li {
      height: 60px;
    }
  }
}
