$overlay_color: rgba(0, 0, 0, 0.5);

$color1: #fa6c65;
$color2: #fbfbfb;
$color3: #939393;
$color4: #d55c56;
$text_color: #616161;
$footer_top: #303538;
$footer_bottom: #2d3134;

@mixin flex_dir($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin flex_btw {
  justify-content: space-between;
}

@mixin flex_arr {
  justify-content: space-between;
}

@mixin flex_direction($dir) {
  flex-direction: $dir;
}

@mixin flex_cntr {
  align-items: center;
  justify-content: center;
}

@mixin image_style {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

@mixin button1 {
  color: white;
  font-size: 20px;
  padding: 20px;
  background-color: $color1;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 0px $color4;

  &:hover {
    background-color: #f1524a;
  }
}

// **

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    color: #fa6c65;
    background-color: #464646;
  }
}

body {
  font-family: "Oswald", sans-serif;
  color: $text_color;
}

header {
  background-color: #fff;
  height: 140px;

  display: flex;
  flex-direction: column;

  margin: auto;
  overflow: hidden;
  padding: 10px 10px 0 10px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-left: 20px;
}

.upper-case {
  text-transform: uppercase;
}

.main-block {
  height: 80vh;
  padding: 30px;
}

// Header

.header__top {
  flex: 1;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
}

.header__top__logo {
  margin-left: 10%;
  a {
    font-size: 40px;
  }
}

.header__top__links {
  display: flex;
  width: fit-content;
  float: right;
  margin-right: 17%;
  margin-top: 12px;
}

.header__bottom {
  background-color: $color2;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
}

.header__bottom__nav-links {
  display: flex;
  @include flex_cntr();

  margin-left: 9%;
  height: 100%;
  width: fit-content;
  float: left;
}

.header__bottom__nav-links__li {
  display: flex;
  @include flex_cntr();

  float: left;
  color: black;
  text-align: center;
  font-size: 18px;
  margin-left: 2em;
  line-height: 1.8;
  text-transform: uppercase;
}

.header__bottom__social-media-links {
  display: flex;
  @include flex_cntr();

  margin-left: 55%;
  height: 100%;

  &__li {
    display: flex;
    @include flex_cntr();

    padding: 9px;
    border-radius: 60%;
    border: 1px solid #bebebe;
    height: 40px;
    width: 40px;
  }

  &__li img {
    width: 10px;
  }
}

// MAIN
// WELCOME BLOCK

.main__welcome {
  display: flex;
  @include flex_dir(column);
  @include flex_cntr();
  text-align: center;

  background: linear-gradient(0deg, $overlay_color, $overlay_color),
    url("../img/Layer 9.png");
  @include image_style();

  &__item {
    background-color: #fff;
    width: fit-content;
    margin: 25px 0 0 0;
    font-size: 40px;
  }

  & h2 {
    padding: 15px;
  }

  & p {
    padding: 10px;
  }

  &__button {
    @include button1();
  }
}

// How It Works

.title {
  display: flex;
  @include flex_cntr();
  color: $color1;
  padding: 20px;
  height: 20%;
  text-transform: uppercase;

  &__subtitle {
    margin-left: 20px;
    font-weight: 300;
    color: $color3;
    text-transform: none;

    &::before {
      content: "|";
      color: $color1;
      margin-right: 15px;
    }
  }
}

.main__how-it-works {
  height: fit-content;
}

.main__how-it-works__process {
  width: 80%;
  margin: auto;

  & ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  & li {
    width: 50%;
    flex: 1 0 40%;
    & .process-block {
      display: flex;
      @include flex_dir(row);
      & .number {
        margin-right: 10px;
        width: 20%;
        font-size: 50px;
        color: $color1;
      }
    }
  }

  .process-list-item {
    padding: 40px;
  }

  &__content {
    &__title {
      font-size: 20px;
      padding: 10px;
      font-weight: 700;
    }
    &__descript {
      font-size: 18px;
      padding: 10px;
    }
    &__details ul {
      display: flex;
      flex-direction: column;
      & li {
        list-style: circle;
        width: 90%;
        font-size: 15px;
      }
    }
  }
}

// Latest Projects

.main__latest {
  background-color: $color2;
  height: fit-content;
}

.preview {
  width: 50%;
}

.main__latest__content {
  display: flex;
  flex-direction: row;
  @include flex_cntr();
  margin-top: 30px;

  &__block {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 40px;

    &__title {
      font-size: 50px;
    }

    &__descript {
      margin: 30px 0 30px 0;
    }

    &__button {
      @include button1();
      font-size: 15px;
      width: 120px;
      height: 50px;
    }
  }
}

// FOOTER

.footer {
  display: flex;
  @include flex_dir(column);
  margin: 0;
  padding: 0;

  color: white;

  &__top {
    background-color: $footer_top;
    height: 100%;
    display: flex;
    @include flex_cntr();

    &__links {
      display: flex;
      @include flex_dir(row);
      @include flex_cntr();

      height: 70%;
      padding: 0px 20px 0px 20px;

      &__item {
        margin: 0px 30px 0px 30px;
        &__title {
          text-transform: uppercase;
          padding: 20px;
        }
        &__desc p {
          padding: 0px 10px 20px 20px;
          width: 300px;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    @include flex_cntr();
    background-color: $footer_bottom;
    height: 15%;
    font-size: 30px;
  }
}

// MEDIA

// TV

@media screen and (min-width: 2888px) {
  body {
    width: 2888px;
    margin: auto;
  }
}

// big tablet

@media screen and (max-width: 1480px) {
  .footer {
    height: fit-content;
  }
  .footer__top__links {
    padding: 40px 0px 50px 0px;

    flex-direction: column;
  }
}

// tablets

@media screen and (max-width: 990px) {
  .header {
    &__top {
      &__links {
        font-size: 12px;
      }
    }
    &__bottom {
      padding-bottom: 40px;
    }
  }
}

// usual phones

@media screen and (max-width: 800px) {
  .header {
    display: block;
    &__top__links {
      font-size: 20px;
      display: block;
      text-align: left;
      margin-top: 0;
    }
  }

  .main {
    &__welcome {
      &__item {
        font-size: 20px;
      }
      & p {
        width: 80%;
      }
      & h2 {
        width: 50%;
      }
    }
  }

  .main__how-it-works__process {
    width: 100%;
  }

  .main__how-it-works__process__content {
    width: 100%;
  }

  .title {
    font-size: 9px;
  }

  .preview {
    display: none;
  }

  .main__latest__content {
    display: block;
    &__block {
      width: 70%;
    }
  }

  .title {
    font-size: 30px;
    &__subtitle {
      display: none;
    }
  }

  .footer__bottom {
    font-size: 20px;
  }
}

// small

@media screen and (max-width: 400px) {
  .header {
    &__top__links {
      font-size: 15px;
    }
  }

  .number {
    display: none;
  }

  .footer__bottom {
    font-size: 17px;
  }
}

// extra small

@media screen and (max-width: 300px) {
  .header {
    &__top__links {
      font-size: 12px;
    }
  }
  .main__welcome {
    &__item {
      font-size: 15px;
    }
    & p {
      display: none;
    }
  }
}

// header responsiveness media

@media only screen and (max-width: 1000px) {
  header {
    height: 400px;
  }
  .header__bottom__nav-links {
    flex-direction: column;

    &__li {
      margin-top: 20px;
    }
  }
  .header__bottom__social-media-links {
    flex-direction: column;
    margin-left: 0;

    &__li {
      height: 60px;
      border: none;
    }
  }
}
